@import "./../../styles/varibles.scss";

.photoGrid {
  background: $bg;
  padding: 25px;
}

.box {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 25px;
  padding: 25px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Card Component

.item {
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
  padding: 35px;
  transition: all 500ms linear;
}

.cardFront {
  width: 85%;
  height: auto;
  top: 2vh;
  margin: 0 auto;
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(218, 218, 218);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 3px;
  border-radius: 20px;
  flex-direction: column;
  padding-left: 18px;
  padding-top: 18px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "overlap";

  @media (min-width: 768px) {
    width: 85%;
  }
}

.cardFront:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.25s ease;
}

.tagBar:hover {
  margin-left: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.25s ease;
}

.tagBar {
  padding: 2px;
  font-family: "School-Serif", sans-serif;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(167, 167, 167);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 20px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(63, 63, 63);
}

.item1 {
  grid-area: overlap;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 12px;
  font-size: 0.9rem;
  display: flex;
  justify-content: end;
  align-items: start;
  bottom: 4px;
  left: -14%;
}

.imageFrame {
  width: 114%;
  height: 109%;
  grid-area: overlap;
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  background-color: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.item img:hover {
  margin-left: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.25s ease;
}
